# Datasets and api key
datasets/*
api_key

# Other temp files
.temp/*
.DS_Store
*.swp
dask-worker-space/*
*.csv

#Space used for ad-hoc work
analyse_run/*

# Venv
bin/*
lib/*
pyvenv.cfg
include/*
numerai_venv/*

*/__pycache__
numerai_analyser/__pycache__

#logs
logs/model_perfomance/*
logs/runtime/*

#saved model outputs
model_repo/*
